#about {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  align-items: center;
}

#self-portrait {
  width: 70%;
}

#self-portrait img {
  object-fit: cover;
}

.title {
  font-family: 'Oxygen', serif;
  font-size: 2.5rem;
}

.text {
  font-family: 'Raleway', sans-serif;
  max-width: 600px;
}

#info {
  display: flex;
  margin-top: 20px;
}
