#contact {
  margin-top: 5.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-icons {
  margin: auto;
  padding: 1.2rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
